@import "../../responsive.scss";

.homepage {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include sm {
        flex-direction: row;
    }

    .text-container {
        flex: 3;
        margin-right: 2rem;
        margin-top: 1rem;

        @include md {
            margin-top: .5rem;
        }
        
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        height: 100%;

        p {
            line-height: 1.5rem;
            text-align: justify;
        }

        .main-title {
            font-size: 3rem;
        }

        .boxes {
            display: none;
            justify-content: space-between;
            width: 100%;

            @include sm {
                display: flex;
            }

            h1 {
                font-size: 2rem;
            }

            h3 {
                font-size: 1rem;
                font-weight: 300;
            }
        }
    }

    }

    .image-container {
        flex: 2;
        background-color: #FCF5F3;
        height: 100%;
        display: none;
        align-items: center;

        @include md {
            display: flex;
        }

        img {
            width: 115%;
            display: none;
            

            @include md {
                display: flex;
                margin-left: -1.5rem;
            }
        }
    }
}